<table>
  <thead>
    <th>Id</th><th>reg_date</th><th>first_name</th><th>last_name</th>
    <th>email</th><th>phone</th><th>street</th><th>city</th><th>state</th>
    <th>zipcode</th>
  </thead>
  <% @queued.each do |attendee| %>
    <tr>
      <td><%= attendee.id%></td><td><%= attendee.reg_date%></td>
      <td><%= attendee.first_name%></td><td><%= attendee.last_name%></td>
      <td><%= attendee.email%></td><td><%= attendee.phone%></td>
      <td><%= attendee.street%></td><td><%= attendee.city%></td>
      <td><%= attendee.state%></td><td><%= attendee.zipcode%></td>
    </tr>
  <% end %>
</table>
