<table>
  <thead>
    <tr>
      <% headers.each do |attr| %>
        <th><%= attr.capitalize %></th>
      <% end %>
    </tr>
  </thead>
  <% @queued.each do |attendee| %>
    <tr>
      <td><%= attendee.id%></td><td><%= attendee.reg_date%></td><td><%= attendee.first_name%></td>
      <td><%= attendee.last_name%></td><td><%= attendee.email%></td><td><%= attendee.phone%></td>
      <td><%= attendee.street%></td><td><%= attendee.city%></td><td><%= attendee.state%></td>
      <td><%= attendee.zipcode%></td>
    </tr>
  <% end %>
</table>
